:root {
  --black: #111;
  --white: #efefef;
  --lightgrey: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/cormorantgaramond-medium.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/cormorantgaramond-mediumitalic.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-mediumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/cormorantgaramond-bold.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/cormorantgaramond-bolditalic.woff2") format("woff2"),
    url("../fonts/cormorantgaramond-bolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

html {
  color: var(--black);
  background: var(--white);
  font-size: 10px;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 100rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
  -moz-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
}

a {
  color: var(--black);
}

#logo {
  width: 150px;
}

#logo svg {
  fill: var(--black);
}

article {
  font-size: 2.3rem;
  line-height: 3.6rem;
  margin: 20rem auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 5.4rem;
}

p,
ol,
ul,
h1,
h2,
pre {
  max-width: 70rem;
  margin: 4rem auto !important;
}

cite {
  display: block;
  padding-left: 1.5rem;
  border-left-style: double;
  border-left-color: var(--lightgrey);
  max-width: 56rem;
  margin: 4rem auto !important;
  opacity: 0.7;
}

figure,
ul,
ol,
cite {
  margin: 4rem 0;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

img {
  border-radius: 0.4rem;
  width: 100%;
}

img.medium {
  width: 60%;
}

img.small {
  width: 40%;
}

a {
  text-decoration: none;
  border-bottom-style: double;
  border-bottom-color: var(--lightgrey);
}

a#logo {
  border: 0;
}

pre {
  font-size: 1.3rem !important;
}

code {
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

strong {
  font-weight: 600;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 1rem;
}

hr {
  border: 0;
}

hr::after {
  content: "⁂";
  text-align: center;
  display: block;
  color: var(--lightgrey);
}
